<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<div *ngIf="!forecasts" class="ui active inverted dimmer">
    <div class="ui text large loader">Loading</div>
</div>

<table class='ui celled table' *ngIf="forecasts">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.dateFormatted }}</td>
            <td>{{ forecast.temperatureC }}</td>
            <td>{{ forecast.temperatureF }}</td>
            <td>{{ forecast.summary }}</td>
        </tr>
    </tbody>
</table>
